<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

      * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      .body {
        height: 100vh;
        width: 100%;

        font-family: "Lato", sans-serif;
        min-height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
      }

      .demo-bg {
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }

      .show-btn {
        background: #fff;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        color: #3498db;
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      .show-btn,
      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input[type="checkbox"] {
        display: none;
      }

      .container {
        display: flex;
        background: #fff;
        border-radius: 15px;
        width: 430px;
        height: 610px;
        padding: 30px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-wrap: wrap;
      }

      #show:checked ~ .container {
        display: block;
      }

      .container .close-btn {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 18px;
        cursor: pointer;
      }

      .container .close-btn:hover {
        color: #3498db;
        font-size: 25px;
      }

      .container .text {
        font-size: 35px;
        font-weight: 600;
        margin-top: 7px;
        text-align: center;
      }

      .container form {
        margin-top: -30px;
        padding: 3px;
      }

      .container form .data {
        height: 35px;
        width: 100%;
        margin: 40px 0;
      }

      .heading {
        font-size: 30px;
        margin: 0px 20px;
      }

      form .data label {
        font-size: 18px;
      }

      form .data input {
        height: 100%;
        width: 100%;
        margin-top: 7px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 17px;
        border: 1px solid silver;
      }

      form .data input:focus {
        border-color: #3498db;
        border-bottom-width: 2px;
      }

      form #dob {
        font-size: 15px;
      }

      form .btn {
        text-align: center;
      }

      form #submit {
        font-size: 1.4rem;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px 50px;
        border-color: #3498db;
        border-radius: 3px;
        color: #3498db;
        background-color: white;
      }

      form #submit:hover {
        background-color: #40bacf;
        color: white;
        font-weight: bold;
        border: white;
      }

      .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .signin {
        margin: 0px 40px;
      }
      .signin a {
        font-size: 1.1em;
        color: #3498db;
      }
    </style>
  </head>

  <body class="body">
    <img src="/assets/images/cover-img.png" alt="" class="demo-bg" />
    <div class="center">
      <input type="checkbox" id="show" />
      <label for="show" class="show-btn">View Form</label>
      <div class="container">
        <a href="/profile">
          <span for="show" class="close-btn fas fa-times" title="close"></span
        ></a>
        <br />
        <div class="heading">Edit Profile</div>
        <form
          id="reg_form"
          method="post"
          action="/update"
          encType="multipart/form-data"
        >
          <div class="data">
            <label>Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="<%=result[0].FullName%>"
              required
            />
          </div>

          <div class="data">
            <label>Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              value="<%=result[0].Email%>"
              required
            />
          </div>
          <div class="data">
            <label>Phone Number:</label>
            <input
              type="text"
              name="number"
              id="number"
              value="<%=result[0].Number%>"
              required
            />
          </div>

          <div class="data">
            <label for="dob">Date Of Birth: </label>
            <input
              type="date"
              name="dob"
              id="dob"
              value="<%=(result[0].Dob).toISOString().slice(0,10)%>"
            />
          </div>
          <div>
            <span
              ><input
                type="text"
                style="display: none"
                name="UserID"
                value="<%=UserID%>"
            /></span>
            <label for="profile">Profile Pic</label>
            <input
              type="file"
              name="sampleFile"
              value="<%=result[0].profile%>"
            />
          </div>
          <div class="btn">
            <input type="submit" id="submit" value="Update" role="button" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
