<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <script src="script.js" defer ></script> -->
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    --twitter-color: #50b7f5;
    --twitter-background: #fbfdff;
  }

  .explore {
    min-width: 50%;
    margin: 0.2rem 1rem;
    margin-left: 24%;
    margin-right: 30%;
  }

  input#exploresearch {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 26px;
    width: 84%;
  }

  input#exploresearch::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .top {
    display: flex;
    align-items: center;
    height: 90px;
  }



  .people,
  .peopletweet {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 25px;
    font-weight: 800;
  }

  .people:hover,
  .peopletweet:hover {
    border-bottom: 5px solid var(--twitter-color);
    transition: 100ms ease-in;
    font-size: 24px;
  }

  .usercard {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }

  .usercardname {
    margin-left: 1rem;
    font-weight: 800;

  }
  .trigger {
  display: none;
}
</style>

<body>

  <div class="container">
    <%- include('partial/Lsidebar.ejs') %>
      <div class="explore">
        <div class="exploresearchdiv">
          <input type="search" id="exploresearch" name="exploresearch" placeholder="            Search">
        </div>
        <div class="top">
          <div class="people"> <a href="/people">People</a> </div>
          <div class="peopletweet"> <a href="/tweets">Tweets</a> </div>
        </div>
        <div>

          <div class="content">
            <div>
              <a href=""><img src="https://cdn.trendhunterstatic.com/phpthumbnails/458/458145/458145_1_800.jpeg"
                  class="user_pfp" /></a>
            </div>

            <div class="innerContent">

              <div class="username">
                <p><b>Irshad </b> <span id="username">@irshadchauhan</span></p>
              </div>
              <div class="usertweet"> An absolute genius who must be protected at all costs. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Labore laborum et commodi voluptatem maiores facere omnis voluptatum
                doloremque. Vero aperiam aut eaque earum sunt explicabo impedit esse alias repudiandae.</div>
              <div class="usericon">
                <span class="material-icons">
                  chat_bubble_outline
                </span>
                <span class="material-icons">
                  swap_vert
                </span>
                <span class="material-icons">
                  favorite_border
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('partial/Rsidebar.ejs') %>
        <script src="/js/script.js"></script>
   

        
</body>

</html>