<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    .material-icons{
      cursor: pointer;
    }
    .abc1 {
        padding-left: 30%;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .modal1{
        /* display: none; */
        position: fixed;
        z-index: 5;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: auto;
        margin-left: 20%;
        margin-top: 5px;
    }
    
    .modal-content {
      background-color: #FEFEFE;
    margin: auto;
    margin-left: 64px;
    padding: 20px;
    border: 1px solid #888;
    width: 84%;
    border-radius: 5px;
    }
    
    #twit {
        margin-left: 0px;
    }
    
    
    .close {
        color: #AAAAAA;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
</head>

<body>
  <div class="container">
    <%- include('partial/Lsidebar.ejs') %>
      <div class="home enable">
        <h3>Home</h3>
        
        <input type="button" value="<%=UserID%>" id="UserID" hidden>
        <hr />
        <br />
        <div class="tweetBox">
          <a href=""><img src="/profile/<%=profileresult[0].profile%>" class="user_pfp" /></a>
          <textarea placeholder="What's happening?" maxlength="140" id="NewTweet1"></textarea>
          <button id="tweet_btn" onclick="NewTweet1()">Tweet</button>
        </div>
        <hr />
        <br />

        <%for(var i=0;i<data.length;i++){%>
          <%let id = Number(UserID) %>
          
          <%let obj = { UserID : id ,TweetID : data[i].TweetID }%>
          <%console.log(obj)%>
          <div class="content">
            <div>
     
              <a href=""><img src="/profile/<%=data[i].profile%>"
               
                  class="user_pfp" id="newse"/></a>
                  <%console.log(data[0])%>
            </div>

            <div class="innerContent">

              <div class="username">
                <p><b>
                   <%=data[i].FullName %>
                  </b> 
                  <br><span id="username">@<%=data[i].FullName%></span></p>
              </div>
              <div class="usertweet">
                <%=data[i].Message %>
              </div>
              <div class="usericon">
                <div class="abc">
                  <%let cid=data[i].TweetID %>
                  <% cid=cid + "c" %>
                  <span class="material-icons" id="<%=cid%>" onclick="oncomment(id)">
                  chat_bubble_outline
                  </span>
                  <%let commentid = data[i].TweetID %>
                  <% commentid= commentid + "d" %>
                  <%if(data[i].CommentCount == null){data[i].CommentCount = 0}%>
                  <span class="reply" id="<%=commentid%>"><%=data[i].CommentCount%></span>
                  </div>
                  
                  
                <%let tweetid=data[i].TweetID %>
                  <% tweetid=tweetid + "a" %>
                    <div class="abc">
                    
                      <% let retweetusers = retweetresult.filter(function (item) {  for (var key in obj) { if(item[key] != obj[key]) return false }  return true  }) %>
                      <% if( retweetusers.length){ %>
                         <span style="color: green;" class="material-icons" onclick="onretweet(id)" id="<%=tweetid%>">
                           swap_vert
                         </span>
                      <% }else{ %>
                         <span style="color: black;" class="material-icons" onclick="onretweet(id)" id="<%=tweetid%>">
                          swap_vert
                         </span>
                      <% } %>
                      
                      <%let retweetid = data[i].TweetID %>
                      <% retweetid= retweetid + "r" %>
                      <%if(data[i].RetweetCount == null){data[i].RetweetCount = 0}%>
                      <span id="<%=retweetid%>">
                        <%=data[i].RetweetCount%>
           
                      </span>
                    </div>
                    <div class="abc" >
                     <% let likeusers = likeresult.filter(function (item) {  for (var key in obj) { if(item[key] != obj[key]) return false }  return true  }) %>
                     <% if( likeusers.length){ %>
                        <span style="color: red;" class="material-icons" onclick="onlike(id)" id="<%=data[i].TweetID%>">
                          favorite_border
                        </span>
                     <% }else{ %>
                        <span style="color: black;" class="material-icons" onclick="onlike(id)" id="<%=data[i].TweetID%>">
                          favorite_border
                        </span>
                     <% } %>
                      <%let likeid=data[i].TweetID %>
                      <% likeid= likeid + "l" %>
                      <%if(data[i].LikeCount == null){data[i].LikeCount = 0}%>
                      <span id="<%=likeid%>">
                        <%=data[i].LikeCount%>
                        
                      </span>
                    </div>
              </div>
            </div>
          </div>
          <div class="abc1">
            <%let cbtn=data[i].TweetID %>
              <% cbtn=cbtn + "c" %>
                <div class="modal1" id="<%=data[i].TweetID%>c1" style="display: none;">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close" id="<%=data[i].TweetID%>close">&times;</span>
                    <label for="comment">Comment</label>
                    <form action="/addcomment" method="post" id="jaydip">
                      <% for(b=0; b<commentresult.length; b++) {%>
                        <%if(data[i].TweetID==commentresult[b].TweetID){%>
                          <input type="text" name="psw" value="<%=commentresult[b].CommentMsg%>" readonly>
                          <%}%>
                            <%}%>
                              <input type="text" name="tweetid" style="display: none;"
                                value="<%=data[i].TweetID%>">
                              <textarea
                                style="width: 80%;margin: auto;margin: 10px 10px;resize: none;border: none;height: 50px;"
                                placeholder="write your comment here..." maxlength="140" id="comment"
                                name="comment"></textarea>
                              <button type="submit" id="<%=data[i].TweetID%>"
                                onclick="addcomment(id)">Comment</button>
                    </form>
                  </div>

                </div>

          </div>
          <%}%>

      </div>
     
      <%- include('partial/Rsidebar.ejs') %>
        <script src="js/script.js"></script>
        <script>

        </script>
       
</body>

<script>
  const pro=document.getElementById('newse');
  console.log(pro);
</script>
</html>