<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <script src="script.js" defer ></script> -->
  <style>
    html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      padding: 0;
      --twitter-color: #50b7f5;
      --twitter-background: #fbfdff;
      font-family: "Open Sans", sans-serif;
    }

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    .container {
      display: flex;
    }

    .fa-twitter {
      padding-left: 0.8rem;
      color: var(--twitter-color);
      font-size: 1.5rem;
    }

    .sidebar {
      background-color: var(--twitter-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* background-color: turquoise; */
      margin-left: auto;
      margin-right: auto;
      min-width: 20%;
      padding: 1rem;
      position: fixed;
    }

    .sidebarOption {
      /* color: white; */
      font-family: "Open Sans", sans-serif;
      display: flex;
      margin: 0.1rem;
      transition: 1ms;
      padding: 0.1rem;
      /* justify-content: center; */
      align-items: center;
    }

    .new {
      /* color: white; */
      font-family: "Open Sans", sans-serif;
      display: flex;
      margin: 0.1rem;
      transition: 1ms;
      padding: 0.3rem;
      /* padding: 0.1rem; */
      /* justify-content: center; */
      align-items: center;
    }

    .material-icons {
      padding-right: 0.6rem;
    }

    .tweetBtn {
      color: var(--twitter-background);
      background-color: var(--twitter-color);
      font-weight: bolder;
      border-radius: 20px;
      padding: 0.5rem 3rem;
      max-width: 30%;
    }

    .new:hover {
      background-color: rgb(214, 208, 208);
      border-radius: 15px;
      /* padding: 0.1rem; */
    }

    .active {
      font-weight: bolder;
      color: var(--twitter-color);
      background-color: var(--twitter-background);
    }

    /* /left fininshed */

    /* center started */
    /* home started */

    .enable {
      display: block;
    }

    .disable {
      display: none;
    }

    .home {
      min-width: 50%;
      margin: 0.2rem 1rem;
      margin-left: 24%;
      margin-right: 30%;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
    }

    .user_pfp {
      width: 3em;
      height: 3em;
      border-radius: 10px;
      object-fit: cover;
      border-radius: 50%;
    }

    p#born {
      display: contents;
      margin-left: 1%;
    }

    .content {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
    }

    .content:hover {
      background-color: rgb(237, 237, 237);
      border-radius: 5px;
    }

    .innerContent {
      display: flex;
      flex-direction: column;
    }

    .tweetBox {
      display: flex;
    }

    p {
      display: inline;
      margin-left: 1%;
    }

    button {
      height: 3%;
      border-radius: 20px;
      padding: 10px;
      color: white;
      border: none;
      margin-left: 1%;
      margin-top: 8px;
      background-color: var(--twitter-color);
    }

    .icon {
      width: 20px;
      margin-left: 4%;
      margin-top: 1%;
    }

    #username {
      color: grey;
    }

    .username,
    .usertweet {
      margin: 0.2rem;
    }

    .usertweet::-webkit-scrollbar {
      display: none;
    }

    .usericon {
      display: flex;
      justify-content: space-evenly;
    }

    .usericon>.material-icons:nth-child(1):hover {
      color: rgb(47, 220, 188);
    }

    .usericon>.material-icons:nth-child(2):hover {
      color: rgb(139, 208, 70);
    }

    .usericon>.material-icons:nth-child(3):hover {
      color: rgb(255, 64, 64);
    }

    /* home finished */

    /* userprofile started */
    .userprofile {
      min-width: 50%;
      margin: 0.2rem 1rem;
      margin-left: 24%;
      margin-right: 30%;
    }

    .header {
      display: flex;
    }

    .headertext {
      display: flex;
      flex-direction: column;
    }

    .userbackground>img {
      width: -webkit-fill-available;
    }

    .userprofileimage {
      display: flex;
      justify-content: space-between;
    }

    .userprofileimage>div {
      margin-top: 2rem;
    }

    .userimage>img {
      width: 60%;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 30%;
      width: 10%;
      height: 20%;
    }

    .editbtn>a {
      border-radius: 30px;
      padding: 0.4rem;
      background-color: var(--twitter-background);
      border: 2px solid black;
      margin: 1rem;
    }

    .editbtn>a:hover {
      background-color: rgb(214, 208, 208);
      transition: 100ms;
    }

    .userbio {
      display: flex;
      flex-direction: column;
    }

    .personalusername,
    .personalinfo {
      color: grey;
      margin: 0.1rem;
    }

    .personaldateofbirth,
    .personallocation,
    .personaldateofjoin,
    .following,
    .followers {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }

    .personalinfo,
    .personalnumber {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0.2rem;
    }

    /* userprofile finished*/

    /* center finished */

    /* right started */

    .right-sidebar {
      min-width: 20%;
      position: fixed;
      right: 0;
      top: 0;
      margin-left: 80%;
    }

    .searchtext {
      margin-top: 0.5rem;
      border-radius: 20px;
      border: 2px solid black;
      background-color: rgb(250, 247, 247);
    }

    .news {
      margin-top: 1rem;
      margin-right: 0.2rem;
      border: 2px solid black;
      border-radius: 10px;
      padding: 0.3rem;
    }

    .war {
      height: 150px;
      width: 200px;
      border: 30%;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <form action="/profile" method="post">
    <div id="demo"></div>
    <div class="container">
      <%- include('partial/Lsidebar.ejs') %>

      <div class="userprofile">
        <div class="header">
          <div class="headericon"> <a href="/home?UserID=<%=mainID%>"><span class="material-icons"> arrow_back
              </span></a>
          </div>
          <div class="headertext">
            <div>
              <p id="FullName" name="FullName">
                <%=result[0].FullName%>
              </p>
            </div>
            <div>
              <p id="tweets" name="tweets">
                <%=TweetCount%>&nbsptweets
              </p>
            </div>
          </div>
        </div>
        <div class="userbackground">
          <img src="https://pbs.twimg.com/profile_banners/1315714997499109376/1618323881/1500x500" alt="" />
        </div>
        <div class="userprofileimage">
          <div class="userimage">
            <img src="/profile/<%=result[0].profile%>" alt="imag" />
          </div>
          <div class="editbtn">
            <% let findobj = result[0].UserID %>
            <% let obj = FollowID.find(e => e.UserID2 == findobj) %>
            <% if(obj){ %>
              <input type="button" id="<%=result[0].UserID%>" onclick="follow(id)" value="Following">
              <% }else{ %>
              <input type="button" id="<%=result[0].UserID%>" onclick="follow(id)" value="Follow">
              <% } %>
          </div>
        </div>
        <div class="userbio">
          <div class="personalname">
            <p id="FullNameid" name="FullName">
              <%=result[0].FullName%>
            </p>
          </div>
          <div class="personalusername">
            <p id="FullNameid" name="FullName">@<%=result[0].FullName%>
            </p>
          </div>
          <div class="personalbio">Web Developer</div>
          <div class="personalinfo">
            <div class="personallocation">
              <span class="material-icons"> location_on </span> Rajkot, India
            </div>
            <div class="personaldateofbirth">
              <span class="material-icons">
                child_care <%let d=result[0].Dob.toString()%>
                <% let e=d.slice(4,15) %>
              </span>
              <p id="born" name="born">Born&nbsp<%=e%>
              </p>
            </div>

            <div class="personaldateofjoin">
              <span class="material-icons">
                calendar_month <%let de=result[0].CreatedDate.toString()%>
                <% let ee=de.slice(4,15) %>
              </span>
              <p id="born" name="born">Joined&nbsp<%=ee%>
              </p>
            </div>
          </div>
          <div class="personalnumber">
            <div class="following">
              <p id="Following" name="Following">
                <%=result[0].FollowingCount%>&nbspFollowing
              </p>
            </div>
            <div class="followers">
              <p id="Followers" name="Followers">
                <%=followercount%>&nbspFollowers
              </p>
            </div>
          </div>
        </div>
        <hr>
        <%for(let a=0;a<Tweet.length;a++){%>
        
          <div class="content">
            <div>
              <a href=""><img src="/profile/<%=result[0].profile%>" alt="imag" class="user_pfp" />
              </a>
            </div>

            <div class="innerContent">

              <div class="username">
                <p><b><%=result[0].FullName%></b><br><span id="username">@<%=result[0].FullName%></span></p>
              </div>
              <div class="usertweet">
                <%=Tweet[a].Message%>
              </div>
              <div class="usericon">
                <div class="abc">
                  <span class="material-icons" id="myBtn2" onclick="oncomment(id)">
                    chat_bubble_outline 
                  </span>
                  <span class="reply">2</span>
                </div>
             
              <div class="abc">
                <span class="material-icons" onclick="onretweet(id)" id="<%=Tweet[a].TweetID%>">
                  swap_vert
                </span>
                <span id="retweetcount">
                  <%=Tweet[a].RetweetCount%>
                </span>
              </div>

              <div class="abc">
                <span class="material-icons" onclick="onlike(id)" id="<%=Tweet[a].TweetID%>">
                  favorite_border
                </span>
                <span id="likecount">
                  <%=Tweet[a].LikeCount%>
                </span>
              </div>
              
              </div> 
            </div>
          </div>
          <%}%>
          </div>
      </div>
      <%- include('partial/Rsidebar.ejs') %>
    </div>
  </form>
  <script src="/public/js/script.js"></script>
</body>

</html>