<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="script.js" defer ></script> -->
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    --twitter-color: #50b7f5;
    --twitter-background: #fbfdff;
  }

  .explore {
    min-width: 50%;
    margin: 0.2rem 1rem;
    margin-left: 24%;
    margin-right: 30%;
  }

  input#exploresearch {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 26px;
    width: 84%;
  }

  input#exploresearch::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .top {
    display: flex;
    align-items: center;
  }

  .people,
  .peopletweet {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 25px;
    font-weight: 800;
  }

  .people {
    border-bottom: 5px solid blue;
  }

  .peopletweet:hover {
    border-bottom: 5px solid var(--twitter-color);
    transition: 100ms ease-in;
    font-size: 24px;
  }

  .usercard {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    justify-content: space-between;
  }

  .usercardname {
    margin-left: 1rem;
    font-weight: 800;
  }

  .b1 {
    display: flex;
    align-items: center;
  }

.follow{
  background-color: #50b7f5;
color :#fbfdff ;
border-radius: 40px;
width: 80px;
height: 30px;
font-size: 15px;
border: 2px ;
padding: 0.2rem;
}
.trigger {
  display: none;
}
</style>

<body>

  <div class="container">
    <%- include('partial/Lsidebar.ejs') %>
      <div class="explore">
        <div class="exploresearchdiv">
          <input type="text" id="UserID1" value="<%=UserID%>" hidden>
          <form action="/search" method="post" id="searchinput" >
          <input type="search" id="exploresearch" name="exploresearch" placeholder="Search" >
          <button class="follow" onclick="search()"> Search </button>
          </form>
        </div>
        <div class="top">
          <div class="people">People</div>
          <div class="peopletweet"><a href="/tweets">Tweets</a></div>
        </div>
        <div>
          <% for(let a=0 ; a < data.length ; a++ ){%>
            <div class="usercard">
              <div class="b1">

                <div>
                  <a href=""><img src="/profile/<%=data[a].profile%>" 
                      class="user_pfp" /></a>
                </div>
                
                <div class="usercardname">
                  <input type="hidden" id="user" value="<%=data[a].UserID%>"><a
                    href="/other_profile?UserID=<%=data[a].UserID%>">
                    <%=data[a].FullName%>
                  </a><span id="username">@<%=data[a].FullName%></span>

                </div>
              </div>
              <div class="b2">

                <% let findobj=data[a].UserID %>
                  <% let obj=data1.find( e=> e.UserID2 == findobj) %>
                    <% console.log(obj)%>
                      <% if(obj){%>
                        <input class="follow" type="button" id="<%=data[a].UserID%>" onclick="follow(id)" value="Following">
                        <% }else{%>
                          <input class="follow" type="button" id="<%=data[a].UserID%>" onclick="follow(id)" value="Follow">
                          <% }%>
              </div>
            </div>
            <%}%>
        </div>
      </div>
      <%- include('partial/Rsidebar.ejs') %>
        <script src="/js/script.js"></script>
</body>

</html>