<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <!-- <script src="script.js" defer ></script> -->
  <style>
    html {
      scroll-behavior: smooth;
    }

    body {
      margin: 0;
      padding: 0;
      --twitter-color: #50b7f5;
      --twitter-background: #fbfdff;
      font-family: "Open Sans", sans-serif;
    }

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    .container {
      display: flex;
    }

    .fa-twitter {
      padding-left: 0.8rem;
      color: var(--twitter-color);
      font-size: 1.5rem;
    }

    .sidebar {
      background-color: var(--twitter-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* background-color: turquoise; */
      margin-left: auto;
      margin-right: auto;
      min-width: 20%;
      padding: 1rem;
      position: fixed;
    }

    .sidebarOption {
      /* color: white; */
      font-family: "Open Sans", sans-serif;
      display: flex;
      margin: 0.1rem;
      transition: 1ms;
      padding: 0.1rem;
      /* justify-content: center; */
      align-items: center;
    }

    .new {
      /* color: white; */
      font-family: "Open Sans", sans-serif;
      display: flex;
      margin: 0.1rem;
      transition: 1ms;
      padding: 0.3rem;
      /* padding: 0.1rem; */
      /* justify-content: center; */
      align-items: center;
    }

    .material-icons {
      padding-right: 0.6rem;
    }

    .tweetBtn {
      color: var(--twitter-background);
      background-color: var(--twitter-color);
      font-weight: bolder;
      border-radius: 20px;
      padding: 0.5rem 3rem;
      max-width: 30%;
    }

    .new:hover {
      background-color: rgb(214, 208, 208);
      border-radius: 15px;
      /* padding: 0.1rem; */
    }

    .active {
      font-weight: bolder;
      color: var(--twitter-color);
      background-color: var(--twitter-background);
    }

    /* /left fininshed */

    /* center started */
    /* home started */

    .enable {
      display: block;
    }

    .disable {
      display: none;
    }

    .home {
      min-width: 50%;
      margin: 0.2rem 1rem;
      margin-left: 24%;
      margin-right: 30%;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
    }

    .user_pfp {
      width: 3em;
      height: 3em;
      border-radius: 10px;
      object-fit: cover;
      border-radius: 50%;
    }

    p#born {
      display: contents;
      margin-left: 1%;
    }

    .content {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
    }

    .content:hover {
      background-color: rgb(237, 237, 237);
      border-radius: 5px;
    }

    .innerContent {
      display: flex;
      flex-direction: column;
    }

    .tweetBox {
      display: flex;
    }

    p {
      display: inline;
      margin-left: 1%;
    }

    button {
      height: 3%;
      border-radius: 20px;
      padding: 10px;
      color: white;
      border: none;
      margin-left: 1%;
      margin-top: 8px;
      background-color: var(--twitter-color);
    }

    .icon {
      width: 20px;
      margin-left: 4%;
      margin-top: 1%;
    }

    #username {
      color: grey;
    }

    .username,
    .usertweet {
      margin: 0.2rem;
    }

    .usertweet::-webkit-scrollbar {
      display: none;
    }

    .usericon {
      display: flex;
      justify-content: space-evenly;
    }

    .usericon>.material-icons:nth-child(1):hover {
      color: rgb(47, 220, 188);
    }

    .usericon>.material-icons:nth-child(2):hover {
      color: rgb(139, 208, 70);
    }

    .usericon>.material-icons:nth-child(3):hover {
      color: rgb(255, 64, 64);
    }

    /* home finished */

    /* userprofile started */
    .userprofile {
      min-width: 50%;
      margin: 0.2rem 1rem;
      margin-left: 24%;
      margin-right: 30%;
    }

    .header {
      display: flex;
    }

    .headertext {
      display: flex;
      flex-direction: column;
    }

    .userbackground>img {
      width: -webkit-fill-available;
    }

    .userprofileimage {
      display: flex;
      justify-content: space-between;
    }

    .userprofileimage>div {
      margin-top: 2rem;
    }

    .userimage>img {
      width: 60%;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 30%;
      width: 10%;
      height: 20%;
    }

    .editbtn>a {
      border-radius: 30px;
      padding: 0.4rem;
      background-color: var(--twitter-background);
      border: 2px solid black;
      margin: 1rem;
    }

    .editbtn>a:hover {
      background-color: rgb(214, 208, 208);
      transition: 100ms;
    }

    .userbio {
      display: flex;
      flex-direction: column;
    }

    .personalusername,
    .personalinfo {
      color: grey;
      margin: 0.1rem;
    }

    .personaldateofbirth,
    .personallocation,
    .personaldateofjoin,
    .following,
    .followers {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }

    .personalinfo,
    .personalnumber {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0.2rem;
    }

    .conti {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      /* border: 2px solid black; */
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 2px 7px -2px;
    }

    .conti:hover {
      background-color: #e9e9e9;
      border-radius: 5px;
    }

    .material-icons {
      cursor: pointer;
    }

    /* userprofile finished*/

    /* center finished */

    /* right started */

    .right-sidebar {
      min-width: 20%;
      position: fixed;
      right: 0;
      top: 0;
      margin-left: 80%;
    }

    .searchtext {
      margin-top: 0.5rem;
      border-radius: 20px;
      border: 2px solid black;
      background-color: rgb(250, 247, 247);
    }

    .news {
      margin-top: 1rem;
      margin-right: 0.2rem;
      border: 2px solid black;
      border-radius: 10px;
      padding: 0.3rem;
    }

    .war {
      height: 150px;
      width: 200px;
      border: 30%;
      object-fit: cover;
    }

    .usericon>.abc {
      display: flex;
      align-items: center;
    }
    .abc1 {
        padding-left: 30%;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .modal1 {
        display: none;
        position: fixed;
        z-index: 5;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: auto;
        margin-left: 20%;
        margin-top: 5px;
    }
    
    .modal-content {
        background-color: #FEFEFE;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 5px;
    }
    
    #twit {
        margin-left: 0px;
    }
    
    .myBtn2:hover {
        background-color: lightgreen;
    }
    
    .myBtn2:hover {
        background-color: lightgreen;
    }
    
    .close {
        color: #AAAAAA;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .trigger {
  display: none;
}
  </style>
</head>

<body>
  <!-- <form action="/profile" method="get"> -->
    <div id="demo"></div>
    <div class="container">
      <%- include('partial/Lsidebar.ejs') %>

        <input type="button" value="<%=UserID%>" id="UserID" hidden>
        <div class="userprofile">
          <div class="header">
            <div class="headericon"> <a href="/home"><span class="material-icons"> arrow_back
                </span></a>
            </div>

            <div class="headertext">
              <div>
                <p id="FullName" name="FullName">
                  <%=result[0].FullName%>
                </p>
              </div>
              <div>
                <p id="tweets" name="tweets">
                  <%=TweetCount[0].TweetCount%>&nbsptweets
                </p>
              </div>
            </div>
          </div>
          <div class="userbackground">
            <img src="https://pbs.twimg.com/profile_banners/1315714997499109376/1618323881/1500x500" alt="" />
          </div>
          <div class="userprofileimage">
            <div class="userimage">
              <img src="/profile/<%=result[0].profile%>" alt="img" />
            </div>
            <div class="editbtn">
              <a href="/edit">Edit Profile</a>
            </div>
          </div>
          <div class="userbio">
            <div class="personalname">
              <p id="FullNameid" name="FullName">
                <%=result[0].FullName%>
              </p>
            </div>
            <div class="personalusername">
              <p id="FullNameid" name="FullName">@<%=result[0].FullName%>
              </p>
            </div>
            <div class="personalbio">Web Developer</div>
            <div class="personalinfo">
              <div class="personallocation">
                <span class="material-icons"> location_on </span> Rajkot, India
              </div>
              <div class="personaldateofbirth">
                <span class="material-icons">
                  child_care <%let d=result[0].Dob.toString()%>
                    <% let e=d.slice(4,15) %>
                </span>
                <p id="born" name="born">Born&nbsp<%=e%>
                </p>
              </div>

              <div class="personaldateofjoin">
                <span class="material-icons">
                  calendar_month <%let de=result[0].CreatedDate.toString()%>
                    <% let ee=de.slice(4,15) %>
                </span>
                <p id="born" name="born">Joined&nbsp<%=ee%>
                </p>
              </div>
            </div>
            <div class="personalnumber">
              <div class="following">
                <p id="Following" name="Following">
                  <%=result[0].FollowingCount%>&nbspFollowing
                </p>
              </div>
              <div class="followers">
                <p id="Followers" name="Followers">
                  <%=result[0].FollowerCount%>&nbspFollowers
                </p>
              </div>
            </div>
          </div>
          <hr>
          <%for(var i=0;i<Tweet.length;i++){%>
            <div class="conti">
            <%let id=Number(UserID) %>

              <%let obj={ UserID : id ,TweetID : Tweet[i].TweetID }%>
                <div class="content">
                  <div>
                    <a href=""><img src="/profile/<%=result[0].profile%>" 
                        class="user_pfp" /></a>
                  </div>

                  <div class="innerContent">

                    <div class="username">
                      <p><b>
                          <%=result[0].FullName %>
                        </b> <span id="username">@<%=result[0].FullName%></span></p>
                    </div>
                    <div class="usertweet">
                      <%=Tweet[i].Message %>
                    </div>
                    <div class="usericon">
                      <div class="abc">
                        <%let cid=Tweet[i].TweetID %>
                          <% cid=cid + "c" %>
                            <span class="material-icons" id="<%=cid%>" onclick="oncomment(id)">
                              chat_bubble_outline
                            </span>
                            <%let commentid=Tweet[i].TweetID %>
                              <% commentid=commentid + "d" %>
                                <%if(Tweet[i].CommentCount==null){Tweet[i].CommentCount=0}%>
                                  <span class="reply" id="<%=commentid%>">
                                    <%=Tweet[i].CommentCount%>
                                  </span>

                      </div>
                      <%let tweetid=Tweet[i].TweetID %>
                        <% tweetid=tweetid + "a" %>
                          <div class="abc">

                            <% let retweetusers=retweetresult.filter(function (item) { for (var key in obj) {
                              if(item[key] !=obj[key]) return false } return true }) %>
                              <% if( retweetusers.length){ %>
                                <span style="color: green;" class="material-icons" onclick="onretweet(id)"
                                  id="<%=tweetid%>">
                                  swap_vert
                                </span>
                                <% }else{ %>
                                  <span style="color: black;" class="material-icons" onclick="onretweet(id)"
                                    id="<%=tweetid%>">
                                    swap_vert
                                  </span>
                                  <% } %>

                                    <%let retweetid=Tweet[i].TweetID %>
                                      <% retweetid=retweetid + "r" %>
                                        <%if(Tweet[i].RetweetCount==null){Tweet[i].RetweetCount=0}%>
                                          <span id="<%=retweetid%>">
                                            <%=Tweet[i].RetweetCount%>
                                          </span>
                          </div>
                          <div class="abc">
                            <% let likeusers=likeresult.filter(function (item) { for (var key in obj) { if(item[key]
                              !=obj[key]) return false } return true }) %>
                              <% if( likeusers.length){ %>
                                <span style="color: red;" class="material-icons" id="<%=Tweet[i].TweetID%>"
                                  onclick="onlike(id)">
                                  favorite_border
                                </span>
                                <% }else{ %>
                                  <span style="color: black;" class="material-icons" id="<%=Tweet[i].TweetID%>"
                                    onclick="onlike(id)">
                                    favorite_border
                                  </span>
                                  <% } %>
                                    <%let likeid=Tweet[i].TweetID %>
                                      <% likeid=likeid + "l" %>
                                        <%if(Tweet[i].LikeCount==null){Tweet[i].LikeCount=0}%>
                                          <span id="<%=likeid%>">
                                            <%=Tweet[i].LikeCount%>
                                          </span>
                          </div>
                    </div>
                  </div>
                </div>
               
                <div class="abc1">
                  <%let cbtn=result[0].TweetID %>
                  
                    <% cbtn=cbtn + "c" %>
                      <div class="modal1" id="<%=Tweet[0].TweetID%>c1" style="display: none;">
                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close" id="<%=Tweet[0].TweetID%>close">&times;</span>
                          <label for="comment">Comment</label>
                          <form action="/addcomment" method="post" id="jaydip">
                            <% for(b=0; b<commentresult.length; b++) {%>
                              <%if(result[0].TweetID==commentresult[b].TweetID){%>
                                <input type="text" name="psw" value="<%=commentresult[b].CommentMsg%>" readonly>
                                <%}%>
                                  <%}%>
                                    <input type="text" name="tweetid" style="display: none;"
                                      value="<%=Tweet[0].TweetID%>">
                                    <textarea
                                      style="width: 80%;margin: auto;margin: 10px 10px;resize: none;border: none;height: 50px;"
                                      placeholder="write your comment here..." maxlength="140" id="comment"
                                      name="comment"></textarea>
                                    <button type="submit" id="<%=Tweet[0].TweetID%>"
                                      onclick="addcomment(id)">Comment</button>
                          </form>
                        </div>

                        
                      </div>
                    </div>
                    </div>
                <%}%>
                <%for(var i=0;i<retweetresult.length;i++){%>
                  <div class="conti">
                    <%let id=Number(UserID) %>
    
                      <%let obj={ UserID : id ,TweetID : retweetresult[i].TweetID }%>
                        <div class="content">
                          <div>
                            <a href=""><img src="/profile/<%=retweetresult[i].profile%>" class="user_pfp" /></a>
                          </div>
    
                          <div class="innerContent">
    
                            <div class="username">
                              <p><b>
                                  <%=retweetresult[i].FullName %>
                                </b> <span id="username">@<%=retweetresult[i].FullName%></span></p>
                            </div>
                            <div class="usertweet">
                              <%=retweetresult[i].Message %>
                            </div>
                            <div class="usericon">
                              <div class="abc">
                                <%let cid=retweetresult[i].TweetID %>
                                  <% cid=cid + "c" %>
                                    <span class="material-icons" id="<%=cid%>" onclick="oncomment(id)">
                                      chat_bubble_outline
                                    </span>
                                    <%let commentid=retweetresult[i].TweetID %>
                                      <% commentid=commentid + "d" %>
                                        <%if(retweetresult[i].CommentCount==null){retweetresult[i].CommentCount=0}%>
                                          <span class="reply" id="<%=commentid%>">
                                            <%=retweetresult[i].CommentCount%>
                                          </span>
    
                              </div>
                              <%let tweetid=retweetresult[i].TweetID %>
                                <% tweetid=tweetid + "a" %>
                                  <div class="abc">
    
                                    <% let retweetusers=retweetresult.filter(function (item) { for (var key in obj) {
                                      if(item[key] !=obj[key]) return false } return true }) %>
                                      <% if( retweetusers.length){ %>
                                        <span style="color: green;" class="material-icons" onclick="onretweet(id)"
                                          id="<%=tweetid%>">
                                          swap_vert
                                        </span>
                                        <% }else{ %>
                                          <span style="color: black;" class="material-icons" onclick="onretweet(id)"
                                            id="<%=tweetid%>">
                                            swap_vert
                                          </span>
                                          <% } %>
    
                                            <%let retweetid=retweetresult[i].TweetID %>
                                              <% retweetid=retweetid + "r" %>
                                                <%if(retweetresult[i].RetweetCount==null){retweetresult[i].RetweetCount=0}%>
                                                  <span id="<%=retweetid%>">
                                                    <%=retweetresult[i].RetweetCount%>
                                                  </span>
                                  </div>
                                  <div class="abc">
                                    <% let likeusers=likeresult.filter(function (item) { for (var key in obj) { if(item[key]
                                      !=obj[key]) return false } return true }) %>
                                      <% if( likeusers.length){ %>
                                        <span style="color: red;" class="material-icons" id="<%=retweetresult[i].TweetID%>"
                                          onclick="onlike(id)">
                                          favorite_border
                                        </span>
                                        <% }else{ %>
                                          <span style="color: black;" class="material-icons"
                                            id="<%=retweetresult[i].TweetID%>" onclick="onlike(id)">
                                            favorite_border
                                          </span>
                                          <% } %>
                                            <%let likeid=retweetresult[i].TweetID %>
                                              <% likeid=likeid + "l" %>
                                                <%if(retweetresult[i].LikeCount==null){retweetresult[i].LikeCount=0}%>
                                                  <span id="<%=likeid%>">
                                                    <%=retweetresult[i].LikeCount%>
                                                  </span>
                                  </div>
                            </div>
                          </div>
                        </div>
    
                        <div class="abc1">
                          <%let cbtn=retweetresult[i].TweetID %>
                            <% cbtn=cbtn + "c" %>
                              <div class="modal1" id="<%=retweetresult[i].TweetID%>c1" style="display: none;">
                                <!-- Modal content -->
                                <div class="modal-content">
                                  <span class="close" id="<%=retweetresult[i].TweetID%>close">&times;</span>
                                  <label for="comment">Comment</label>
                                  <form action="/addcomment" method="post" id="jaydip">
                                    <% for(b=0; b<commentresult.length; b++) {%>
                                      <%if(retweetresult[i].TweetID==commentresult[b].TweetID){%>
                                        <input type="text" name="psw" value="<%=commentresult[b].CommentMsg%>" readonly>
                                        <%}%>
                                          <%}%>
                                            <input type="text" name="tweetid" style="display: none;"
                                              value="<%=retweetresult[i].TweetID%>">
                                            <textarea
                                              style="width: 80%;margin: auto;margin: 10px 10px;resize: none;border: none;height: 50px;"
                                              placeholder="write your comment here..." maxlength="140" id="comment"
                                              name="comment"></textarea>
                                            <button type="submit" id="<%=retweetresult[i].TweetID%>"
                                              onclick="addcomment(id)">Comment</button>
                                  </form>
                                </div>
    
    
                              </div>
                        </div>
                  </div>
                  <%}%>
        </div>
    </div>
    <%- include('partial/Rsidebar.ejs') %>
    <script src="/js/script.js"></script>
      </div>
  <!-- </form> -->
</body>

</html>