<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Sign In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <style>
    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

    * {
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .body {
      height: 100vh;
      width: 100%;

      font-family: "Lato", sans-serif;
      min-height: 100vh;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .demo-bg {
      opacity: 0.7;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }

    .show-btn {
      background: #fff;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 500;
      color: #3498db;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .container {
      background: #fff;
      border-radius: 15px;
      width: 430px;
      height: 470px;
      padding: 30px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      display: flex;
      flex-wrap: wrap;
    }

    .container .close-btn {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 18px;
      cursor: pointer;
    }

    .container .close-btn:hover {
      color: #3498db;
      font-size: 25px;
    }

    .container .text {
      font-size: 35px;
      font-weight: 600;
      margin-top: 7px;
      text-align: center;
    }

    .container form {
      margin-top: -30px;
      padding: 3px;
    }

    .container form .data {
      height: 35px;
      width: 100%;
      margin: 40px 0;
    }

    .heading {
      font-size: 27px;
      margin: 0px 65px;
    }

    form .data label {
      font-size: 18px;
    }

    form .data input {
      height: 100%;
      width: 100%;
      margin-top: 7px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 17px;
      border: 1px solid silver;
    }

    form .data input:focus {
      border-color: #3498db;
      border-bottom-width: 2px;
    }

    form .btn {
      text-align: center;
    }

    form #submit {
      font-size: 1.4rem;
      margin-top: 35px;
      margin-bottom: 10px;
      padding: 5px 50px;
      border-color: #3498db;
      border-radius: 3px;
      color: #3498db;
      background-color: white;
    }

    form #submit:hover {
      background-color: #40bacf;
      color: white;
      font-weight: bold;
      border: white;
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .signup {
      margin: 0px 40px;
    }

    .signup a {
      font-size: 1.1em;
      color: #3498db;
    }
  </style>
</head>

<body class="body">
  <img src="/assets/images/cover-img.png" alt="" class="demo-bg" />
  <div class="center">
    <div class="container">
      <a href="/"><label for="show" class="close-btn fas fa-times" title="close"></label></a>
      <img class="logo" width="46" height="38" srcset="
            https://abs.twimg.com/errors/logo46x38.png    1x,
            https://abs.twimg.com/errors/logo46x38@2x.png 2x
          " src="https://abs.twimg.com/errors/logo46x38.png" alt="Twitter" />
      <div class="heading">Sign in to Twitter</div>
      <form action="/login" method="post">
        <div class="data">
          <label>Email:</label>
          <input type="email" name="email" id="email" required />
        </div>

        <div class="data">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="btn">
          <input type="submit" id="submit" value="Log In" role="button" />
        </div>
      </form>
      <div class="signup">
        <span>Don't have an account...?
          <a href="/register" style="text-decoration: none;">Sign Up </a></span>
      </div>
    </div>
  </div>
</body>

</html>