@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  --twitter-color: #50b7f5;
  --twitter-background: #fbfdff;
  font-family: "Open Sans", sans-serif;
}
.abc {
  display: flex;
  align-items: center;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
}
.fa-twitter {
  padding-left: 0.8rem;
  color: var(--twitter-color);
  font-size: 3rem;
}
.sidebar {
  background-color: var(--twitter-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: turquoise; */
  margin-left: auto;
  margin-right: auto;
  min-width: 20%;
  padding: 1rem;
  position: fixed;
}

.sidebarOption {
  /* color: white; */
  font-family: "Open Sans", sans-serif;
  display: flex;
  margin: 0.1rem;
  transition: 1ms;
  padding: 0.1rem;
  /* justify-content: center; */
  align-items: center;
}

.new {
  /* color: white; */
  font-family: "Open Sans", sans-serif;
  display: flex;
  margin: 0.1rem;
  transition: 1ms;
  padding: 0.3rem;
  /* padding: 0.1rem; */
  /* justify-content: center; */
  align-items: center;
}

.material-icons {
  padding-right: 0.6rem;
}
.tweetBtn {
  color: var(--twitter-background);
  background-color: var(--twitter-color);
  font-weight: bolder;
  border-radius: 20px;
  padding: 0.5rem 3rem;
  max-width: 30%;
}

.new:hover {
  background-color: rgb(214, 208, 208);
  border-radius: 15px;
  /* padding: 0.1rem; */
}

.active {
  font-weight: bolder;
  color: var(--twitter-color);
  background-color: var(--twitter-background);
}

/* /left fininshed */

/* center started */
/* home started */

.home {
  min-width: 50%;
  margin: 0.2rem 1rem;
  margin-left: 24%;
  margin-right: 30%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.user_pfp {
  width: 3em;
  height: 3em;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  /* border: 2px solid black; */
  margin: 18px;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 7px -2px;
}

.content:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  background-color: #e9e9e9;
}

.innerContent {
  display: flex;
  flex-direction: column;
}

.tweetBox {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 7px -2px;
  transition: transform 0.2s;
}
.tweetBox:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  transform: scale(1.05);
}
.childtweetbox {
  display: flex;
  flex-direction: row;
}
.tweetBox textarea {
  height: 100px;
  width: 80%;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
}
.tweetBox button {
  margin: 10px 200px;
  margin-bottom: 0px;
}

p {
  display: inline;
  margin-left: 1%;
}

button {
  height: 3%;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 15px;
  color: white;
  border: none;
  margin-left: 1%;
  margin-top: 8px;
  background-color: var(--twitter-color);
}

.icon {
  width: 20px;
  margin-left: 4%;
  margin-top: 1%;
}

#username {
  color: grey;
}

.username,
.usertweet {
  margin: 0.2rem;
}

.usertweet::-webkit-scrollbar {
  display: none;
}

.usericon {
  display: flex;
  justify-content: space-evenly;
}

.usericon > .material-icons:nth-child(1):hover {
  color: rgb(47, 220, 188);
}

.usericon > .material-icons:nth-child(2):hover {
  color: rgb(139, 208, 70);
}

.usericon > .material-icons:nth-child(3):hover {
  color: rgb(255, 64, 64);
}

/* home finished */

/* userprofile started */
.userprofile {
  min-width: 50%;
  margin: 0.2rem 1rem;
  margin-left: 24%;
  margin-right: 30%;
}

.header {
  display: flex;
}

.headertext {
  display: flex;
  flex-direction: column;
}

.userbackground > img {
  width: -webkit-fill-available;
}
.userprofileimage {
  display: flex;
  justify-content: space-between;
}

.userimage > img {
  width: 60%;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 30%;
  width: 10%;
  height: 20%;
}

.editbtn > input[type="button"] {
  border-radius: 30px;
  padding: 0.4rem;
  background-color: var(--twitter-background);
  border: 2px solid black;
  margin: 1rem;
}
.editbtn > input[type="button"]:hover {
  background-color: rgb(214, 208, 208);
  transition: 100ms;
}

.userbio {
  display: flex;
  flex-direction: column;
}
.personalusername,
.personalinfo {
  color: grey;
  margin: 0.1rem;
}

.personaldateofbirth,
.personallocation,
.personaldateofjoin,
.following,
.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.personalinfo,
.personalnumber {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.2rem;
}

/* userprofile finished*/

/* center finished */

/* right started */

.right-sidebar {
  min-width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  margin-left: 80%;
}

.searchtext {
  margin-top: 0.5rem;
  border-radius: 20px;
  /* border: 2px solid black; */
  background-color: rgb(250, 247, 247);
}

.news {
  margin-top: 1rem;
  margin-right: 0.2rem;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 0.3rem;
}

.war {
  height: 150px;
  width: 200px;
  border: 30%;
  object-fit: cover;
}
