<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="public/js/script.js"></script>


  <title>Document</title>

</head>

<body>
  <div class="sidebar">
    <i class="fab fa-twitter"></i>

    <div class="sidebarOption">
      <span class="new ">
        <span class="material-icons"> home </span><span class="option"> <a
            href="/home">Home</a></span>
      </span>
    </div>
    <div class="sidebarOption">
      <span class="new">
        <span class="material-icons"> tag</span><span class="option">
          <a href="/people">Explore</a></span>
      </span>
    </div>  
    <div class="sidebarOption">
      <span class="new">
        <span class="material-icons"> person </span><span class="option"><a
            href="/profile">Profile</a></span>
      </span>
    </div>
    <div class="sidebarOption">
      <span class="new">
        <span class="material-icons">logout</span><span class="option"></span>
        <a href="/">Logout</a></span>
      </span>
    </div>


    <button class="trigger">Tweet</button>
<div class="modal">

<div class="modal-content1">
<span class="close-button">×</span>
<a href=""><img src="/assets/images/profile.png" class="user_pfp" /></a>
<textarea style="
width: 50%;
margin-left: 1%;
resize: none;
border: none;
height: 50px;
" placeholder="What's happening?" maxlength="140" id="NewTweet"></textarea>
<input type="button" id="tweet_btn1" onclick="NewTweet()" value="Tweet" />
</div>
</div>

  </div>
  </div>
  <script>

    
var modal = document.querySelector(".modal");
var trigger = document.querySelector(".trigger");
var closeButton = document.querySelector(".close-button");

function toggleModal() {
modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
if (event.target === modal) {
toggleModal();
}
}

trigger.addEventListener("click", toggleModal);
closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);
</script>

  <style>
   .trigger {
text-align: center;
padding: 7px 13px;
color:
#FFF
;
font-size: 18px;
cursor: pointer;
outline: none;
border: none;
border-radius: 25px;
}

#tweet_btn1 {
background: lightblue;
border-radius: 15px;
padding: 5px 10px;
margin-top: 50px;
margin-left: 100px;
background-color:
#50B7F5
;
}

.user_pfp1 {
width: 3em;
height: 3em;
border-radius: 10px;
object-fit: cover;
border-radius: 50%;
}

#NewTweet {
width: 50%;
margin-left: 1%;
resize: none;
border: none;
height: 143px;
}

.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
width: 37%;
height: 20%;
border-radius: 0.5rem;
}

.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: lightgray;
}

.close-button:hover {
background-color: darkgray;
}

.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
  </style>
  <script src="/js/script.js"></script>
</body>

</html>