<div class="right-sidebar">
  <!-- <input type="search" class="searchtext" placeholder="       Search Twitter" /> -->
  <div class="news">
    <h2>What's Happening</h2>
    <div class="card">
      <a href="https://twitter.com/i/events/1483255084750282753">
        <h4>Ukraine Live News</h4>
      </a>
      <img
        class="war"
        src="https://c.ndtvimg.com/2022-02/tvpkfh_russia-ukraine-crisis-afp-650_625x300_27_February_22.jpg"
        alt=""
      />
      <br />
      <p>
        Latest satellite images show deployment of new Russian troops less than
        50 miles from Ukraine's capital. Russian President Vladimir Putin ......
      </p>
    </div>
  </div>
</div>
